@font-face {
    font-family: 'carrois';
    src: url('../Carrois_Gothic/CursorGothic_Regular-s.p.a361088d.woff2') format('woff2');
    font-display: swap;
}
:root{
    --text-primary-color: #edecec;
    --background-main-color: lch(5.47% 3.68 96.59);
    --background-secondary: #1b1913;
    --button-color: lch(56.94% 91.41 47.73);
    --border-color: #24242483;
    --subheading: #edecec7a;
    --button-color-black: #14120b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-main-color);
    font-family: 'carrois';
    color: var(--text-primary-color);
}
.container{
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
}

/* margin and padding start */
.testmonial-container{
    padding: 67.2px 0px;
}
.features-image, #three-feature-card,
#changelog-container, #team-focused-container{
    padding: 67.2px 0px;
}
.brand-container{
    padding-bottom: 33.6px;
}
.main-heading{
    padding: 162px 0 67.2px 0;
}
.code-hr{
    background-color: #3F3D38;
    height: 1px;
    border: 0px;
}
.hightlight-main-container{
    margin-top: 67px;
}
.heading-cta{
    padding: 134px 0px;
}
.footer-container{
    padding: 67.2px 0px 30px 0px;
}
/* margin and padding end */
header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 100%;
    background-color: var(--background-main-color);
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    /* background-color: red; */
}
.logo-svg svg{
    width: 95.37px;
    height: 95.75px;
}
.links{
    display: flex;
    gap: 32px;
    font-size: .875rem;
}
.links a{
    color: var(--text-primary-color);
    text-decoration: none;
    font-weight: 400;
}
.buttons-header{
    display: flex;
    gap: 10px;
}
.buttons-header button:nth-child(1){
    background-color: transparent;
    color: var(--text-primary-color);
    font-weight: 500;
    border: 1px solid #363636;
    padding: 0px 9px;
    border-radius: 40px;
    letter-spacing: 0.3px;
}
.buttons-header button:nth-child(2){
    background-color: var(--text-primary-color);
    color: var(--background-secondary);
    font-weight: 500;
    border: 1px solid #363636;
    padding: 6px 14px;
    border-radius: 40px;
}
/* main start */

.main-heading> div:nth-child(1){
    margin-bottom: 56px;
}
.main-heading h1{
    font-size: 26px;
    line-height: 32.5px;
    letter-spacing: -0.325px;
    font-weight: 400;
    margin-bottom: 22.4px;
}
.main-heading button,
.heading-cta button:hover{
    background-color: #edececef;
}
.main-heading button,
.heading-cta button{
    background-color: var(--text-primary-color);
    border: 0;
    padding: 12.48px 21.6px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 40px;
    line-height: 16px;
    display: flex;
    cursor: pointer;
}
.main-heading button .text,
.heading-cta button .text{
    color: var(--background-main-color);
    text-decoration: none;
}
.main-heading button a,
.heading-cta button a{
    color: var(--background-main-color);
}
.bg-img{
    position: relative;
    overflow: hidden;
    height: 680px;
}
.bg-img img{
    width: 100%;
    height: 680px;
    object-fit: cover;
    border-radius: 4px;
}
.brand-container> h2{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 22.4px;
}
.brand-logo{
    display: flex;
    gap: 10px;
}
.brand-logo .logo{
    padding: 0 7.5px;
    height: 100px;
    width: 500px;
    background-color: var(--background-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}
.brand-logo .logo img{
    width: auto;
    height: 40px;
    object-fit: contain;
}
.feature-container{
    padding: 18px;
    background-color: var(--background-secondary);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.feature-text{
    grid-column: span 4;
    padding-right: 30px;
}
.feature-text h2:nth-child(1){
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.3;
}
.feature-text h2:nth-child(2){
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.3;
    color: var(--subheading);
}
.feature-img{
    grid-column: span 8;
}
.feature-img img{
    border-radius: 4px;
    object-fit: contain;
    width: 100%;
}
.feature-text .agent-link {
    margin-top: 18px;
}
.feature-text .agent-link a{
    color: var(--button-color);
    text-decoration: none;
}
.divider{
    width: 100%;
    height: 90px;
    background-color: var(--background-main-color);
}
.feature-text.feature-text2{
    padding-left: 30px;
    padding-right: 0;
}
.testmonial-container h2{
    text-align: center;
    font-weight: 400;
    margin-bottom: 56px;
    font-size: 36px ;
    line-height: 43px;
}
.client-review-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}
.client-review{
    padding: 14px;
    background-color: var(--background-secondary);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.client-review p{
    flex: 1;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.client-image{
    margin-top: 45px;
    display: flex;
    gap: 10px;
    align-items: center;
}
figcaption .client-name,
figcaption .company-position{
    font-size: 14px;
}
figcaption .company-position{
    color: var(--subheading);
}
.client-image img{
    width: 40px;
    height: auto;
    border-radius: 4px;
    object-fit: contain;
}
.card-data{
    margin: 44.8px auto;
}
.card-data h2,
.changelog h2{
    margin-bottom: 22.4px;
    font-size: 26px;
    font-weight: 400;
    color: var(--text-primary-color);
    letter-spacing: -1px;
}
.card-with-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.card-with-image figure{
    background: var(--background-secondary);
    padding: 15.9px 17.5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}
.card-with-image> figure> figcaption> h3{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-primary-color);
}
.card-with-image> figure> figcaption> p{
    font-size: 16px;
    font-weight: 400;
    color: var(--subheading);
    line-height: 24px;
}
.card-with-image> figure> figcaption> button,
.highlight-start .grid-highlight .four-box button{
    border: 0;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    color: var(--button-color);
    background-color: transparent;
    cursor: pointer;
}
.card-image{
    margin-top: 17.5px;
    min-height: 392px;
    max-height: 392px;
    background-color: #423D35;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image .code{
    background-color: #1B1913;
    list-style: none;
    border: 1px solid #edecec3f;
    border-radius: 8px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 82%;
}
.card-image .code li{
    font-size: 13px;
    font-weight: 400;
    color: var(--text-primary-color);
    letter-spacing: normal;
    line-height: 17px;
}
.card-image .code li span{
    font-size: 10px;
    font-weight: 400;
    color: var(--subheading);
}
.card-image2{
    background-color: #3c3935;
}
.card-image2 .code2.code{
    background-color: transparent;
    border: 0;
    padding: 0;
}
.card-image2 .code2.code li:nth-child(1){
    padding: 10px 10px;
    background: #2B2923;
    border: 1px solid #edecec18;
    border-radius: 8px;
}
.card-image.card-image2 .code2 li span{
    font-size: 13px;
}
.card-image.card-image2 .code2 li:nth-child(2){
    color: rgba(237, 236, 236, 0.712);
}
.card-image.card-image2 .code2 li:nth-child(3),
.card-image.card-image2 .code2 li:nth-child(3) span{
    color: rgba(237, 236, 236, 0.412);
}
.card-image.card-image2 .code2 li:nth-child(4),
.card-image.card-image2 .code2 li:nth-child(4) span{
    color: rgba(237, 236, 236, 0.212);
}
.card-image.card-image2 .code2 li:nth-child(5){
    color: rgba(237, 236, 236, 0.042);
}
.feature3{
    overflow: hidden;
}
.feature3 img{
    width: 100%;
    object-fit: contain;
}
.changelog{
    margin-bottom: 22px;
}
.changelog .four-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.changelog .four-card> div{
    padding: 16px 17.5px 20px;
    background-color: var(--background-secondary);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
}
.changelog .four-card> div:hover{
    background-color: #221f18da;
}
.changelog .four-card> div time{
    color: var(--subheading);
    font-size: 16px;
    font-weight: 400;
}
.changelog .four-card> div time span{
    padding: 2px 10px 3px;
    color: #edececbb;
    border: 1px solid #edececbb;
    border-radius: 20px;
    font-size: 14px;
}
.changelog .four-card> div p{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-primary-color);
    margin-top: 13px;
}
.changelog button{
    margin-top: 22.4px;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--button-color);
    background-color: transparent;
    cursor: pointer;
}
.team-img-para h2{
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.72px;
    font-weight: 400;
    color: var(--text-primary-color);
    margin-bottom: 22.4px;
}
.team-img-para button{
    padding: 12.48px 21.6px 12.8px;
    color: var(--button-color-black);
    background-color: var(--text-primary-color);
    font-size: 16px;
    border-radius: 40px;
    border: 0;
    margin-bottom: 56px;
}
.team-img-para button i{
    color: var(--button-color-black);
}
.team-img-para img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.highlight-start{
    padding: 89px 0px;
}
.hightlight-main-container{
    background-color: var(--background-secondary);
}
.highlight-start .grid-highlight{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}
.highlight-start .grid-highlight .oneline-sticky{
    grid-column: 4 span;
}
.highlight-start .grid-highlight .oneline-sticky h2{
    font-weight: 200;
    position: sticky;
    top: 70px;
    font-size: 16px;
    letter-spacing: -0.72px;
}
.highlight-start .grid-highlight .four-box{
    grid-column-start: 7;
    grid-column-end: 19;
}
.highlight-start .grid-highlight .four-box> div{
    background-color: #201e18;
    padding: 13.4px 15px 15px 15px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: 10px;
}
.highlight-start .grid-highlight .four-box> div:hover{
    background-color: #6b6b6b1f;
}
.highlight-start .grid-highlight .four-box> div h3,
.highlight-start .grid-highlight .four-box> div p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.highlight-start .grid-highlight .four-box> div p{
    color: var(--subheading);
}
.highlight-start .grid-highlight .four-box>div .seprate{
    width: 100%;
    height: 22px;
}
.highlight-start .grid-highlight .four-box div time{
    font-size: 16px;
    color: var(--subheading);
}
.heading-cta{
    text-align: center;

}
.heading-cta h2{
    font-size: 72px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: -2.16px;
    margin-bottom: 22.4px;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* main end */

/* footer start */
footer{
    background-color: var(--background-secondary);
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding-bottom: 100.8px;
}
.footer-grid .footer-link h3{
    padding-bottom: 4px;
    font-size: 14px;
    color: var(--subheading);
    font-weight: 400;
}
.footer-grid .footer-link ul li{
    padding: 4px 0;
    color: var(--text-primary-color);
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}
.footer-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-certification{
    display: flex;
    gap: 14px;
}
.footer-certification div{
    font-size: 14px;
    color: var(--subheading);
}
.other-function{
    display: flex;
    gap: 14px;
    align-items: center;
}
.other-function .toogle-mode{
    display: flex;
    background-color: #26241E;
    padding: 2px;
    border-radius: 20px;
}
.other-function .toogle-mode i{
    color: var(--subheading);
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
}
.other-function .toogle-mode i:nth-child(3){
    background-color: #3A3833;
    color: var(--text-primary-color);
}
.other-function .language h3{
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    border-radius: 20px;
    background-color: #26241E;
    border: 1px solid #edecec11;
    box-shadow: inset 0 -1px 2px #edecec09;
    cursor: pointer;
}
/* footer end */